@use '/src/scss/config' as *;

.header {
  margin-top: 2rem;
  margin-bottom: 7rem;



  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav_links {
      font-weight: 700;
    }

    .nav_flex {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    .btn--login {
      background-color: white;
      color: $clr-nt-200;
    }

    button:hover {
      filter: brightness(90%);
      cursor: pointer;
      color: $clr-prim-dark;
    }

    .nav_links, .nav_account {
      display: none;
    }
  }

  .navbar_ham {
    width: 1.5rem;
  }

  .hero {
    margin: 2rem 0;

    .hero_img {
      width: 500px;
      min-width: 475px;
      overflow: hidden;
    }

    .hero_content {
      margin-top: 1.5rem;

      * + * {
        margin-top: 1rem;
      }
    }
    h1 {
      font-size: 2rem;
    }
  }
}