.header {
  margin-top: 2rem;
  margin-bottom: 7rem;



  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar_ham {
    width: 1.5rem;
  }

  .hero {
    margin: 2rem 0;

    .hero_content {
      margin-top: 1.5rem;

      * + * {
        margin-top: 1rem;
      }
    }
    h1 {
      font-size: 2rem;
    }
  }
}