@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

$clr-prim-light: hsl(180, 66%, 49%);
$clr-prim-dark: hsl(257, 27%, 26%);
$clr-sec: hsl(0, 87%, 67%);

$clr-nt-100: hsl(0, 0%, 98%);
$clr-nt-200: hsl(0, 0%, 75%);
$clr-nt-400: hsl(257, 7%, 63%);
$clr-nt-600: hsl(255, 11%, 22%);
$clr-nt-800: hsl(260, 8%, 14%);

$ff-prim: 'Poppins', sans-serif;
$font-size-default: 18px;