@use '/src/scss/config' as *;

@media (min-width: 950px) {

  html {
    font-size: 1.1rem;
  }

  .link_container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .header .hero,
  .main .shortener,
  .main .stat_content,
  .created-links {
    max-width: 1000px;
    margin-inline: auto;
  }

  .middle {
    padding-right: 15%;
    padding-left: 15%;
  }

  .header {
    text-align: left;

    .navbar {
      gap: 2rem;

      .nav_links{
        display: flex;
      }

      .nav_account {
        display: initial;
      }
      
      .navbar_ham {
        display: none;
      }
    }

    .hero {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 5rem;

      .hero_content {
        h1 {
          font-size: 3rem;
        }
      }
    }
  }

  .main {
    .card + .card {
      margin-top: 0;
    }

    .link_container {
      flex-direction: row;
      justify-content: space-between;

      button {
        margin-top: 0.75rem;
        max-width: 150px;
      }
    }

    .shortener {
      top: -3rem;
      flex-direction: row;
      align-items: center;
      padding: 2rem;
      background-image: url('/src/images/bg-shorten-desktop.svg');

      input {
        flex: 1;
      }

      button {
        order: 0;
      }

    }

    .main_header {
      margin-top: 3rem;

      h2 {
        font-size: 2rem;
      }

      p {
        max-width: 450px;
        margin: 0 auto;
      }
    }

    .stat_content {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .card {
        text-align: left;

        .img-container {
          left: 15%;
        }
      }

      .card-1 {
        margin-bottom: 4rem;
      }

      .card-2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      .card-3 {
        margin-top: 4rem;
      }
    }
  }

  .footer {

    .footer_cta {
      background-image: url('/src/images/bg-boost-desktop.svg');

      h2 {
        font-size: 1.8rem;
      }
    }

    .footer_logo {
      margin-right: 5rem;
    }

    .footer_links {
      padding: 4rem 2rem;
      text-align: left;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 6rem;

      ul + * {
        margin-top: 0;
      }
    }
  }
}
